html, body {
    margin: 300;
    padding: 300;
}
#defaultCanvas0{
    margin-left: 10%;
}

body {
    background: rgb(235, 130, 130);

}
p {
    font-family:courier;
    font-size:30px;
    margin: 25px right
    /* left: 10px;  */
}

img {
    margin: 10em;
}

/* .container{
    margin: auto;
    display:flex;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */
.left{
    margin: auto;
    text-align: right;
    
}
.right{
    margin: auto;
}
.topright {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
  }